version: "3.8"

services:
  app:
    container_name: advakkad_pos_app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "7004:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:password@postgres:5432/advakkad_pos
    depends_on:
      - postgres
    networks:
      - app_network

  postgres:
    image: postgres:15-alpine
    container_name: advakkad_pos_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: advakkad_pos
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
