version: "3.8"

services:
  app:
    container_name: advakkad_pos_app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "7004:3000"
    environment:
      - DATABASE_URL=file:/app/data/dev.db
    volumes:
      - ./dev.db:/app/data/dev.db
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  sqlite_data:
